# COGS 108 - Final Project

# Overview

*Fill in your overview here*

# Names

- Zijian Liu
- Pin-Hsuan Chen
- Kyle Reed 
- Yunji Ryu
- Jing Wei

# Group Members IDs

- A15723355
- A########
- A########
- A########

# Research Question

How does the time of day, location, and trip duration affect the surge in price for Uber rides in NYC?

## Background and Prior Work

Based on our experiences with Uber, the price for riders can vary drastically with no clear indications as to why. According to the FiveThirtyEight article, “Is Uber making NYC Rush Hour Traffic Worse?”, there is an increase in Uber demand during rush hour, which could contribute to the fluctuation in price. Instead of making assumptions based on an educated guess, we decided to look into their website and look for any public information about it.
In Uber’s official website, general information about this fluctuation in price was provided only for the Uber drivers. Labeled as surge price, fare calculation and its system are shown and explained for Uber drivers.  (Here’s the link). Although the website is public and both parties, including riders and drivers, the separate section for riders did not include information about surge pricing and that might be one of the reasons why most of the riders are unaware of its existence and how it works until the Uber app alerts of the sudden price change.
As we mentioned in our question and hypothesis section, surge prices are calculated based on location and time during the day. According to the website, the surge pricing is determined by two combined factors; the rider’s location as well as the real-time demand by the riders in the same specific area. Depending on Uber’s jurisdiction on these specific areas, riders are charged with fixed rates of either 1.8x or 2.5x, which is multiplied on the already existing base ride fare. These multipliers are also bound by specific locations. Certain locations have 2.5 multiplication rate while others have a different rate or no rate at all. Although Uber has a specific map inside the app that shows the multiplier rate in the current and nearby area, they did not get into details on how the jurisdiction is made to each individual area and how the rates are justified. In order to investigate this information, we decided to use our readily available public data to analyze and infer to the possible correlations listed in our hypothesis.
 

References (include links):
- 1)
- 2)

# Hypothesis

*Fill in your hypotheses here*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [1]:
## YOUR CODE HERE
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as skl
import datetime

# revised proposal: weather of date vs. trip numbers?




pickup_df = pd.read_csv('uber-raw-data-may14.csv')

weather_description_df = pd.read_csv('weather_description.csv')
###
#data frame: pickup_df contains trip data, weather_description_df contains weather data

# cleaning data, dropping everything not related to New York City 

weather_description_df = weather_description_df[['datetime','New York']].dropna()

pickup_df = pickup_df[['Date/Time']]
pickup_df.head()

#print(weather_description_df.head())


# priting the first element in both data frame
print("WEATHER: "+ weather_description_df['datetime'].iloc[:3])
print("PICKUP:  "+ pickup_df['Date/Time'].iloc[:3])

print("--------")
''' 
How to drop data whose year and month doesn't match? i.e. dropping rows in which years aren't 2014
ANS: Done by calling contains on the rows of the dataframe

How to format the date so that everything is in sync with each other?
After cleaning, how to relate trip numbers at a certain time period with that time?
'''
#pickup_df['Date/Time'] = datetime.strptime(str, '%m-%d-%y')
weather_description_df['datetime'] = pd.to_datetime(weather_description_df['datetime'])

# this is how you convert timestamps object to str and use contains with it
weather_description_df = weather_description_df[weather_description_df['datetime'].astype(str).str.contains('2014-05')]
pickup_df['Date/Time'] = pd.to_datetime(pickup_df['Date/Time'])
print("AFTER CONVERSION: ")
pickup_df['Date/Time']
#str.contains
#take the first 10 rows

1    WEATHER: 2012-10-01 13:00:00
2    WEATHER: 2012-10-01 14:00:00
3    WEATHER: 2012-10-01 15:00:00
Name: datetime, dtype: object
0    PICKUP:  5/1/2014 0:02:00
1    PICKUP:  5/1/2014 0:06:00
2    PICKUP:  5/1/2014 0:15:00
Name: Date/Time, dtype: object
--------
AFTER CONVERSION:

0        2014-05-01 00:02:00
1        2014-05-01 00:06:00
2        2014-05-01 00:15:00
3        2014-05-01 00:17:00
4        2014-05-01 00:17:00
5        2014-05-01 00:20:00
6        2014-05-01 00:21:00
7        2014-05-01 00:21:00
8        2014-05-01 00:25:00
9        2014-05-01 00:25:00
10       2014-05-01 00:29:00
11       2014-05-01 00:32:00
12       2014-05-01 00:40:00
13       2014-05-01 00:56:00
14       2014-05-01 01:00:00
15       2014-05-01 01:02:00
16       2014-05-01 01:06:00
17       2014-05-01 01:13:00
18       2014-05-01 01:13:00
19       2014-05-01 01:20:00
20       2014-05-01 01:22:00
21       2014-05-01 01:25:00
22       2014-05-01 01:26:00
23       2014-05-01 01:27:00
24       2014-05-01 01:28:00
25       2014-05-01 01:32:00
26       2014-05-01 01:45:00
27       2014-05-01 01:48:00
28       2014-05-01 02:00:00
29       2014-05-01 02:13:00
                 ...
652405   2014-05-31 22:45:00
652406   2014-05-31 22:47:00
652407   2014-05-31 22:51:00
652408   2014-05-31 22:52:00
652409   2014-05-31 22:53:00
652410   2014-05-31 22:54:00
652411   2014-05-31 22:54:00
652412   2014-05-31 22:56:00
652413   2014-05-31 22:58:00
652414   2014-05-31 23:00:00
652415   2014-05-31 23:06:00
652416   2014-05-31 23:09:00
652417   2014-05-31 23:09:00
652418   2014-05-31 23:10:00
652419   2014-05-31 23:12:00
652420   2014-05-31 23:15:00
652421   2014-05-31 23:17:00
652422   2014-05-31 23:20:00
652423   2014-05-31 23:26:00
652424   2014-05-31 23:27:00
652425   2014-05-31 23:27:00
652426   2014-05-31 23:28:00
652427   2014-05-31 23:30:00
652428   2014-05-31 23:34:00
652429   2014-05-31 23:34:00
652430   2014-05-31 23:45:00
652431   2014-05-31 23:52:00
652432   2014-05-31 23:55:00
652433   2014-05-31 23:56:00
652434   2014-05-31 23:59:00
Name: Date/Time, Length: 652435, dtype: datetime64[ns]

In [40]:
print(type(pickup_df['Date/Time'].iloc[0]))
print(pd.to_datetime(pickup_df['Date/Time'].iloc[0]))
#type(weather_description_df['datetime'].astype(str).iloc[0])

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2014-05-01 00:02:00

In [6]:
df_1 = pd.DataFrame()
#pickup_df['Date/Time']
df_1['date'] = pickup_df['Date/Time'].dt.date
df_1['time'] = pickup_df['Date/Time'].dt.time
df_1

              date      time
0       2014-05-01  00:02:00
1       2014-05-01  00:06:00
2       2014-05-01  00:15:00
3       2014-05-01  00:17:00
4       2014-05-01  00:17:00
5       2014-05-01  00:20:00
6       2014-05-01  00:21:00
7       2014-05-01  00:21:00
8       2014-05-01  00:25:00
9       2014-05-01  00:25:00
10      2014-05-01  00:29:00
11      2014-05-01  00:32:00
12      2014-05-01  00:40:00
13      2014-05-01  00:56:00
14      2014-05-01  01:00:00
15      2014-05-01  01:02:00
16      2014-05-01  01:06:00
17      2014-05-01  01:13:00
18      2014-05-01  01:13:00
19      2014-05-01  01:20:00
20      2014-05-01  01:22:00
21      2014-05-01  01:25:00
22      2014-05-01  01:26:00
23      2014-05-01  01:27:00
24      2014-05-01  01:28:00
25      2014-05-01  01:32:00
26      2014-05-01  01:45:00
27      2014-05-01  01:48:00
28      2014-05-01  02:00:00
29      2014-05-01  02:13:00
...            ...       ...
652405  2014-05-31  22:45:00
652406  2014-05-31  22:47:00
652407  2014-05-31  22:51:00
652408  2014-05-31  22:52:00
652409  2014-05-31  22:53:00
652410  2014-05-31  22:54:00
652411  2014-05-31  22:54:00
652412  2014-05-31  22:56:00
652413  2014-05-31  22:58:00
652414  2014-05-31  23:00:00
652415  2014-05-31  23:06:00
652416  2014-05-31  23:09:00
652417  2014-05-31  23:09:00
652418  2014-05-31  23:10:00
652419  2014-05-31  23:12:00
652420  2014-05-31  23:15:00
652421  2014-05-31  23:17:00
652422  2014-05-31  23:20:00
652423  2014-05-31  23:26:00
652424  2014-05-31  23:27:00
652425  2014-05-31  23:27:00
652426  2014-05-31  23:28:00
652427  2014-05-31  23:30:00
652428  2014-05-31  23:34:00
652429  2014-05-31  23:34:00
652430  2014-05-31  23:45:00
652431  2014-05-31  23:52:00
652432  2014-05-31  23:55:00
652433  2014-05-31  23:56:00
652434  2014-05-31  23:59:00

[652435 rows x 2 columns]

In [ ]:
pickup_df.groupby.

# Data Cleaning

Describe your data cleaning steps here.

In [ ]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

windspd_df = pd.read_csv('Wind_speed_for_2014-2015.csv')
temperature_df = pd.read_csv('NewYork_Temperature_2014.csv')
temperature_df.describe()
pickup_df.head()

# Data Analysis & Results

In [ ]:
pickup_df.head()

Include cells that describe the steps in your data analysis.

In [ ]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

The data set we are analyzing for this project is public data obtained from an open source. The data on its own does not reveal any private information about individual users as well as Uber drivers so we are not as concerned with personal privacy. However, analyzers could still easily extract a lot of information from these data. For instance, analyzing this data set could reveal users’ commute patterns and preferences. Though this does not point to a specific person, it could be information that could be sold to other companies for profit. From this, companies can target users based on their individual preferences. For example, they could distribute advertisements based on these preferences. Or, rideshare apps, like Uber, could take advantage of all these data and deliberately raise prices when the demand is high.

# Conclusion & Discussion

*Fill in your discussion information here*