# COGS 108 - Final Project

# Overview

*Fill in your overview here*

# Names

- Zijian Liu
- Pin-Hsuan Chen
- Kyle Reed 
- Yunji Ryu
- Jing Wei

# Group Members IDs

- A15723355
- A########
- A########
- A15729483
- A########

# Research Question

How does the the weather (observed in hours) affect the overall number of rides during the day in NYC?

## Background and Prior Work

Based on our experiences with Uber, the price for riders can vary drastically with no clear indications as to why. According to the FiveThirtyEight article, “Is Uber making NYC Rush Hour Traffic Worse?”, there is an increase in Uber demand during rush hour, which could contribute to the fluctuation in price. Instead of making assumptions based on an educated guess, we decided to look into their website and look for any public information about it.
In Uber’s official website, general information about this fluctuation in price was provided only for the Uber drivers. Labeled as surge price, fare calculation and its system are shown and explained for Uber drivers.  (Here’s the link). Although the website is public and both parties, including riders and drivers, the separate section for riders did not include information about surge pricing and that might be one of the reasons why most of the riders are unaware of its existence and how it works until the Uber app alerts of the sudden price change.
As we mentioned in our question and hypothesis section, surge prices are calculated based on location and time during the day. According to the website, the surge pricing is determined by two combined factors; the rider’s location as well as the real-time demand by the riders in the same specific area. Depending on Uber’s jurisdiction on these specific areas, riders are charged with fixed rates of either 1.8x or 2.5x, which is multiplied on the already existing base ride fare. These multipliers are also bound by specific locations. Certain locations have 2.5 multiplication rate while others have a different rate or no rate at all. Although Uber has a specific map inside the app that shows the multiplier rate in the current and nearby area, they did not get into details on how the jurisdiction is made to each individual area and how the rates are justified. In order to investigate this information, we decided to use our readily available public data to analyze and infer to the possible correlations listed in our hypothesis.
 

References (include links):
- 1)
- 2)

# Hypothesis

*Fill in your hypotheses here*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [1]:
## YOUR CODE HERE
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as skl
import datetime

# revised proposal: weather of date vs. trip numbers?




pickup_df = pd.read_csv('uber-raw-data-may14.csv')

weather_description_df = pd.read_csv('weather_description.csv')
###
#data frame: pickup_df contains trip data, weather_description_df contains weather data

# cleaning data, dropping everything not related to New York City 

weather_description_df = weather_description_df[['datetime','New York']].dropna()

pickup_df = pickup_df[['Date/Time']]
pickup_df.head()

#print(weather_description_df.head())


# priting the first element in both data frame
print("WEATHER: "+ weather_description_df['datetime'].iloc[:3])
print("PICKUP:  "+ pickup_df['Date/Time'].iloc[:3])

print("--------")
''' 
How to drop data whose year and month doesn't match? i.e. dropping rows in which years aren't 2014
How to format the date so that everything is in sync with each other?
After cleaning, how to relate trip numbers at a certain time period with that time?
'''
#pickup_df['Date/Time'] = datetime.strptime(str, '%m-%d-%y')
weather_description_df['datetime'] = pd.to_datetime(weather_description_df['datetime'])

# this is how you convert timestamps object to str and use contains with it
weather_description_df = weather_description_df[weather_description_df['datetime'].astype(str).str.contains('2014-05')]
pickup_df['Date/Time'] = pd.to_datetime(pickup_df['Date/Time'])
print("AFTER CONVERSION: ")
pickup_df['Date/Time']
#weatherdesc_clean = 
weather_description_df[weather_description_df['datetime'].astype(str).str.contains('2014')]
#str.contains
#take the first 10 rows 

#weatherdesc_clean.to_csv('weather_description_clean.csv')

1    WEATHER: 2012-10-01 13:00:00
2    WEATHER: 2012-10-01 14:00:00
3    WEATHER: 2012-10-01 15:00:00
Name: datetime, dtype: object
0    PICKUP:  5/1/2014 0:02:00
1    PICKUP:  5/1/2014 0:06:00
2    PICKUP:  5/1/2014 0:15:00
Name: Date/Time, dtype: object
--------
AFTER CONVERSION:

                 datetime              New York
13836 2014-05-01 00:00:00         moderate rain
13837 2014-05-01 01:00:00         moderate rain
13838 2014-05-01 02:00:00         moderate rain
13839 2014-05-01 03:00:00  heavy intensity rain
13840 2014-05-01 04:00:00  heavy intensity rain
13841 2014-05-01 05:00:00  heavy intensity rain
13842 2014-05-01 06:00:00  heavy intensity rain
13843 2014-05-01 07:00:00  heavy intensity rain
13844 2014-05-01 08:00:00  heavy intensity rain
13845 2014-05-01 09:00:00  heavy intensity rain
13846 2014-05-01 10:00:00  heavy intensity rain
13847 2014-05-01 11:00:00  heavy intensity rain
13848 2014-05-01 12:00:00  heavy intensity rain
13849 2014-05-01 13:00:00  heavy intensity rain
13850 2014-05-01 14:00:00  heavy intensity rain
13851 2014-05-01 15:00:00  heavy intensity rain
13852 2014-05-01 16:00:00  heavy intensity rain
13853 2014-05-01 17:00:00  heavy intensity rain
13854 2014-05-01 18:00:00  heavy intensity rain
13855 2014-05-01 19:00:00  heavy intensity rain
13856 2014-05-01 20:00:00  heavy intensity rain
13857 2014-05-01 21:00:00  heavy intensity rain
13858 2014-05-01 22:00:00  heavy intensity rain
13859 2014-05-01 23:00:00  heavy intensity rain
13860 2014-05-02 00:00:00  heavy intensity rain
13861 2014-05-02 01:00:00  heavy intensity rain
13862 2014-05-02 02:00:00  heavy intensity rain
13863 2014-05-02 03:00:00            light rain
13864 2014-05-02 04:00:00            light rain
13865 2014-05-02 05:00:00            light rain
...                   ...                   ...
14550 2014-05-30 18:00:00         broken clouds
14551 2014-05-30 19:00:00         broken clouds
14552 2014-05-30 20:00:00         broken clouds
14553 2014-05-30 21:00:00         broken clouds
14554 2014-05-30 22:00:00      scattered clouds
14555 2014-05-30 23:00:00            light rain
14556 2014-05-31 00:00:00         moderate rain
14557 2014-05-31 01:00:00            light rain
14558 2014-05-31 02:00:00      scattered clouds
14559 2014-05-31 03:00:00            few clouds
14560 2014-05-31 04:00:00          sky is clear
14561 2014-05-31 05:00:00          sky is clear
14562 2014-05-31 06:00:00          sky is clear
14563 2014-05-31 07:00:00            light rain
14564 2014-05-31 08:00:00          sky is clear
14565 2014-05-31 09:00:00            light rain
14566 2014-05-31 10:00:00            light rain
14567 2014-05-31 11:00:00            few clouds
14568 2014-05-31 12:00:00            few clouds
14569 2014-05-31 13:00:00            few clouds
14570 2014-05-31 14:00:00            few clouds
14571 2014-05-31 15:00:00            few clouds
14572 2014-05-31 16:00:00            few clouds
14573 2014-05-31 17:00:00      scattered clouds
14574 2014-05-31 18:00:00      scattered clouds
14575 2014-05-31 19:00:00            light rain
14576 2014-05-31 20:00:00            light rain
14577 2014-05-31 21:00:00         broken clouds
14578 2014-05-31 22:00:00      scattered clouds
14579 2014-05-31 23:00:00      scattered clouds

[744 rows x 2 columns]

In [2]:
description_item = weather_description_df.groupby(["New York"]).count()
print(description_item)

                              datetime
New York
broken clouds                      106
few clouds                          43
fog                                 11
haze                                24
heavy intensity drizzle              1
heavy intensity rain                27
light intensity drizzle             10
light rain                         149
mist                               104
moderate rain                       19
overcast clouds                     61
scattered clouds                    65
sky is clear                       120
thunderstorm                         2
thunderstorm with heavy rain         1
very heavy rain                      1

In [3]:
print(type(pickup_df['Date/Time'].iloc[0]))
print(pd.to_datetime(pickup_df['Date/Time'].iloc[0]))
#type(weather_description_df['datetime'].astype(str).iloc[0])

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2014-05-01 00:02:00

In [4]:
temperature_df = pd.read_csv('NewYork_Temperature_2014.csv')
temperature_df = temperature_df[['datetime','New York']].dropna()
temperature_df.describe()
print("All data related to weather should have 744 entries AFTER CLEANING. Rerun if result doesn't match up.")
print("Before cleaning, temperature_df has",temperature_df['datetime'].count(),"entries")

# cleaning the data
# as you can see, clearly, the temperature dataframe is NOT in neither farenheit nor celsius
# we suspect it is in Kelvin
# justification: To be added
temperature_df
temperature_df = temperature_df[temperature_df['datetime'].astype(str).str.contains('2014-05')]
print("After cleaning, temperature_df has",temperature_df['datetime'].count(),"entries")


wind_speed_df = pd.read_csv('Wind_speed_for_2014-2015.csv')
wind_speed_df = wind_speed_df[['datetime','New York']].dropna()
wind_speed_df = wind_speed_df[wind_speed_df['datetime'].astype(str).str.contains('2014-05')]

'''
TODO: renaming all columns for each dataframe
THEN: merge them into a same dataframe
'''
# renaming all the columns so that it correctly matches with the data stored.
weather_description_df.rename(columns={'New York':'description'}, inplace=True)
temperature_df.rename(columns={'New York':'temperature'}, inplace=True)
wind_speed_df.rename(columns={'New York':'wind speed'}, inplace=True)
wind_speed_df

weather_description_df
temperature_df
wind_speed_df

#dat1 = pd.concat([dat1, dat2], axis=1)

weather_description_df

All data related to weather should have 744 entries AFTER CLEANING. Rerun if result doesn't match up.
Before cleaning, temperature_df has 8760 entries
After cleaning, temperature_df has 744 entries

                 datetime           description
13836 2014-05-01 00:00:00         moderate rain
13837 2014-05-01 01:00:00         moderate rain
13838 2014-05-01 02:00:00         moderate rain
13839 2014-05-01 03:00:00  heavy intensity rain
13840 2014-05-01 04:00:00  heavy intensity rain
13841 2014-05-01 05:00:00  heavy intensity rain
13842 2014-05-01 06:00:00  heavy intensity rain
13843 2014-05-01 07:00:00  heavy intensity rain
13844 2014-05-01 08:00:00  heavy intensity rain
13845 2014-05-01 09:00:00  heavy intensity rain
13846 2014-05-01 10:00:00  heavy intensity rain
13847 2014-05-01 11:00:00  heavy intensity rain
13848 2014-05-01 12:00:00  heavy intensity rain
13849 2014-05-01 13:00:00  heavy intensity rain
13850 2014-05-01 14:00:00  heavy intensity rain
13851 2014-05-01 15:00:00  heavy intensity rain
13852 2014-05-01 16:00:00  heavy intensity rain
13853 2014-05-01 17:00:00  heavy intensity rain
13854 2014-05-01 18:00:00  heavy intensity rain
13855 2014-05-01 19:00:00  heavy intensity rain
13856 2014-05-01 20:00:00  heavy intensity rain
13857 2014-05-01 21:00:00  heavy intensity rain
13858 2014-05-01 22:00:00  heavy intensity rain
13859 2014-05-01 23:00:00  heavy intensity rain
13860 2014-05-02 00:00:00  heavy intensity rain
13861 2014-05-02 01:00:00  heavy intensity rain
13862 2014-05-02 02:00:00  heavy intensity rain
13863 2014-05-02 03:00:00            light rain
13864 2014-05-02 04:00:00            light rain
13865 2014-05-02 05:00:00            light rain
...                   ...                   ...
14550 2014-05-30 18:00:00         broken clouds
14551 2014-05-30 19:00:00         broken clouds
14552 2014-05-30 20:00:00         broken clouds
14553 2014-05-30 21:00:00         broken clouds
14554 2014-05-30 22:00:00      scattered clouds
14555 2014-05-30 23:00:00            light rain
14556 2014-05-31 00:00:00         moderate rain
14557 2014-05-31 01:00:00            light rain
14558 2014-05-31 02:00:00      scattered clouds
14559 2014-05-31 03:00:00            few clouds
14560 2014-05-31 04:00:00          sky is clear
14561 2014-05-31 05:00:00          sky is clear
14562 2014-05-31 06:00:00          sky is clear
14563 2014-05-31 07:00:00            light rain
14564 2014-05-31 08:00:00          sky is clear
14565 2014-05-31 09:00:00            light rain
14566 2014-05-31 10:00:00            light rain
14567 2014-05-31 11:00:00            few clouds
14568 2014-05-31 12:00:00            few clouds
14569 2014-05-31 13:00:00            few clouds
14570 2014-05-31 14:00:00            few clouds
14571 2014-05-31 15:00:00            few clouds
14572 2014-05-31 16:00:00            few clouds
14573 2014-05-31 17:00:00      scattered clouds
14574 2014-05-31 18:00:00      scattered clouds
14575 2014-05-31 19:00:00            light rain
14576 2014-05-31 20:00:00            light rain
14577 2014-05-31 21:00:00         broken clouds
14578 2014-05-31 22:00:00      scattered clouds
14579 2014-05-31 23:00:00      scattered clouds

[744 rows x 2 columns]

In [13]:
#After running above, we can see the index from all dataframes do not match up. 
#This is due to the different set up for each of them.



weather_description_df = weather_description_df.reset_index(drop=True)
weather_description_df
temperature_df = temperature_df.reset_index(drop=True)
wind_speed_df = wind_speed_df.reset_index(drop=True)


#weather_description_df = weather_description_df.join(temperature_df['temperature'])
#weather_description_df = weather_description_df.join(wind_speed_df['wind speed'])
weather_description_df

               datetime           description  temperature  wind speed
0   2014-05-01 00:00:00         moderate rain   283.736000           4
1   2014-05-01 01:00:00         moderate rain   284.739000           5
2   2014-05-01 02:00:00         moderate rain   284.554000           5
3   2014-05-01 03:00:00  heavy intensity rain   285.655500           5
4   2014-05-01 04:00:00  heavy intensity rain   285.041667           4
5   2014-05-01 05:00:00  heavy intensity rain   285.714333           4
6   2014-05-01 06:00:00  heavy intensity rain   286.062000           4
7   2014-05-01 07:00:00  heavy intensity rain   286.843000           4
8   2014-05-01 08:00:00  heavy intensity rain   287.299000           5
9   2014-05-01 09:00:00  heavy intensity rain   287.467500           4
10  2014-05-01 10:00:00  heavy intensity rain   288.019333           4
11  2014-05-01 11:00:00  heavy intensity rain   288.283667           4
12  2014-05-01 12:00:00  heavy intensity rain   288.903500           4
13  2014-05-01 13:00:00  heavy intensity rain   289.049333           3
14  2014-05-01 14:00:00  heavy intensity rain   289.550667           3
15  2014-05-01 15:00:00  heavy intensity rain   289.947500           3
16  2014-05-01 16:00:00  heavy intensity rain   290.483667           2
17  2014-05-01 17:00:00  heavy intensity rain   290.915333           2
18  2014-05-01 18:00:00  heavy intensity rain   290.581500           2
19  2014-05-01 19:00:00  heavy intensity rain   291.268333           2
20  2014-05-01 20:00:00  heavy intensity rain   291.189667           2
21  2014-05-01 21:00:00  heavy intensity rain   289.860500           2
22  2014-05-01 22:00:00  heavy intensity rain   290.198667           2
23  2014-05-01 23:00:00  heavy intensity rain   289.286333           2
24  2014-05-02 00:00:00  heavy intensity rain   289.123000           2
25  2014-05-02 01:00:00  heavy intensity rain   287.961000           2
26  2014-05-02 02:00:00  heavy intensity rain   287.548000           2
27  2014-05-02 03:00:00            light rain   287.378000           2
28  2014-05-02 04:00:00            light rain   286.884000           2
29  2014-05-02 05:00:00            light rain   286.633000           2
..                  ...                   ...          ...         ...
714 2014-05-30 18:00:00         broken clouds   295.800000           2
715 2014-05-30 19:00:00         broken clouds   296.450000           3
716 2014-05-30 20:00:00         broken clouds   296.900000           2
717 2014-05-30 21:00:00         broken clouds   297.000000           4
718 2014-05-30 22:00:00      scattered clouds   296.460000           4
719 2014-05-30 23:00:00            light rain   295.080000           4
720 2014-05-31 00:00:00         moderate rain   291.100000           3
721 2014-05-31 01:00:00            light rain   290.310000           4
722 2014-05-31 02:00:00      scattered clouds   289.700000           5
723 2014-05-31 03:00:00            few clouds   288.840000           5
724 2014-05-31 04:00:00          sky is clear   288.000000           5
725 2014-05-31 05:00:00          sky is clear   287.400000           5
726 2014-05-31 06:00:00          sky is clear   286.830000           4
727 2014-05-31 07:00:00            light rain   286.360000           5
728 2014-05-31 08:00:00          sky is clear   285.970000           6
729 2014-05-31 09:00:00            light rain   285.930000           5
730 2014-05-31 10:00:00            light rain   286.620000           7
731 2014-05-31 11:00:00            few clouds   288.390000           5
732 2014-05-31 12:00:00            few clouds   290.050000           6
733 2014-05-31 13:00:00            few clouds   291.150000           9
734 2014-05-31 14:00:00            few clouds   292.830000           9
735 2014-05-31 15:00:00            few clouds   293.350000          10
736 2014-05-31 16:00:00            few clouds   294.020000           9
737 2014-05-31 17:00:00      scattered clouds   294.570000           6
738 2014-05-31 18:00:00      scattered clouds   294.780000           6
739 2014-05-31 19:00:00            light rain   293.790000           2
740 2014-05-31 20:00:00            light rain   292.870000           3
741 2014-05-31 21:00:00         broken clouds   293.380000           2
742 2014-05-31 22:00:00      scattered clouds   293.380000           3
743 2014-05-31 23:00:00      scattered clouds   292.800000           5

[744 rows x 4 columns]

After doing so for all our dataframes, we can start to visualize them.

In [23]:
humidity_df = pd.read_csv('humidity.csv')
humidity_df = humidity_df[['datetime','New York']].dropna()
humidity_df = humidity_df[humidity_df['datetime'].astype(str).str.contains('2014-05')]
humidity_df.rename(columns={'New York':'humidity'}, inplace=True)
humidity_df = humidity_df.reset_index(drop=True)
humidity_df
#weather_description_df = weather_description_df.join(humidity_df['humidity'])
weather_description_df

,datetime,description,temperature,wind speed,humidity
0,2014-05-01 00:00:00,moderate rain,283.736000,4,95.0
1,2014-05-01 01:00:00,moderate rain,284.739000,5,94.0
2,2014-05-01 02:00:00,moderate rain,284.554000,5,95.0
3,2014-05-01 03:00:00,heavy intensity rain,285.655500,5,94.0
4,2014-05-01 04:00:00,heavy intensity rain,285.041667,4,94.0
5,2014-05-01 05:00:00,heavy intensity rain,285.714333,4,94.0
6,2014-05-01 06:00:00,heavy intensity rain,286.062000,4,93.0
7,2014-05-01 07:00:00,heavy intensity rain,286.843000,4,93.0
8,2014-05-01 08:00:00,heavy intensity rain,287.299000,5,92.0
9,2014-05-01 09:00:00,heavy intensity rain,287.467500,4,93.0
10,2014-05-01 10:00:00,heavy intensity rain,288.019333,4,92.0
11,2014-05-01 11:00:00,heavy intensity rain,288.283667,4,92.0
12,2014-05-01 12:00:00,heavy intensity rain,288.903500,4,93.0
13,2014-05-01 13:00:00,heavy intensity rain,289.049333,3,93.0
14,2014-05-01 14:00:00,heavy intensity rain,289.550667,3,93.0
15,2014-05-01 15:00:00,heavy intensity rain,289.947500,3,94.0
16,2014-05-01 16:00:00,heavy intensity rain,290.483667,2,94.0
17,2014-05-01 17:00:00,heavy intensity rain,290.915333,2,95.0
18,2014-05-01 18:00:00,heavy intensity rain,290.581500,2,92.0
19,2014-05-01 19:00:00,heavy intensity rain,291.268333,2,94.0
20,2014-05-01 20:00:00,heavy intensity rain,291.189667,2,92.0
21,2014-05-01 21:00:00,heavy intensity rain,289.860500,2,94.0
22,2014-05-01 22:00:00,heavy intensity rain,290.198667,2,91.0
23,2014-05-01 23:00:00,heavy intensity rain,289.286333,2,92.0
24,2014-05-02 00:00:00,heavy intensity rain,289.123000,2,91.0
25,2014-05-02 01:00:00,heavy intensity rain,287.961000,2,92.0
26,2014-05-02 02:00:00,heavy intensity rain,287.548000,2,92.0
27,2014-05-02 03:00:00,light rain,287.378000,2,93.0
28,2014-05-02 04:00:00,light rain,286.884000,2,92.0
29,2014-05-02 05:00:00,light rain,286.633000,2,93.0
...,...,...,...,...,...
714,2014-05-30 18:00:00,broken clouds,295.800000,2,38.0
715,2014-05-30 19:00:00,broken clouds,296.450000,3,46.0
716,2014-05-30 20:00:00,broken clouds,296.900000,2,49.0
717,2014-05-30 21:00:00,broken clouds,297.000000,4,49.0
718,2014-05-30 22:00:00,scattered clouds,296.460000,4,63.0
719,2014-05-30 23:00:00,light rain,295.080000,4,68.0
720,2014-05-31 00:00:00,moderate rain,291.100000,3,68.0
721,2014-05-31 01:00:00,light rain,290.310000,4,67.0
722,2014-05-31 02:00:00,scattered clouds,289.700000,5,67.0
723,2014-05-31 03:00:00,few clouds,288.840000,5,63.0
724,2014-05-31 04:00:00,sky is clear,288.000000,5,63.0
725,2014-05-31 05:00:00,sky is clear,287.400000,5,67.0
726,2014-05-31 06:00:00,sky is clear,286.830000,4,67.0
727,2014-05-31 07:00:00,light rain,286.360000,5,67.0
728,2014-05-31 08:00:00,sky is clear,285.970000,6,59.0
729,2014-05-31 09:00:00,light rain,285.930000,5,59.0
730,2014-05-31 10:00:00,light rain,286.620000,7,55.0
731,2014-05-31 11:00:00,few clouds,288.390000,5,45.0
732,2014-05-31 12:00:00,few clouds,290.050000,6,37.0
733,2014-05-31 13:00:00,few clouds,291.150000,9,30.0
734,2014-05-31 14:00:00,few clouds,292.830000,9,28.0
735,2014-05-31 15:00:00,few clouds,293.350000,10,35.0
736,2014-05-31 16:00:00,few clouds,294.020000,9,35.0
737,2014-05-31 17:00:00,scattered clouds,294.570000,6,63.0
738,2014-05-31 18:00:00,scattered clouds,294.780000,6,52.0
739,2014-05-31 19:00:00,light rain,293.790000,2,45.0
740,2014-05-31 20:00:00,light rain,292.870000,3,46.0
741,2014-05-31 21:00:00,broken clouds,293.380000,2,43.0
742,2014-05-31 22:00:00,scattered clouds,293.380000,3,NaN
743,2014-05-31 23:00:00,scattered clouds,292.800000,5,NaN

In [24]:
counts_df = pd.read_csv('uber_hourly_counts_may.csv')
counts_df
humidity_df
#why 2 NaN?

                datetime  humidity
0    2014-05-01 00:00:00      95.0
1    2014-05-01 01:00:00      94.0
2    2014-05-01 02:00:00      95.0
3    2014-05-01 03:00:00      94.0
4    2014-05-01 04:00:00      94.0
5    2014-05-01 05:00:00      94.0
6    2014-05-01 06:00:00      93.0
7    2014-05-01 07:00:00      93.0
8    2014-05-01 08:00:00      92.0
9    2014-05-01 09:00:00      93.0
10   2014-05-01 10:00:00      92.0
11   2014-05-01 11:00:00      92.0
12   2014-05-01 12:00:00      93.0
13   2014-05-01 13:00:00      93.0
14   2014-05-01 14:00:00      93.0
15   2014-05-01 15:00:00      94.0
16   2014-05-01 16:00:00      94.0
17   2014-05-01 17:00:00      95.0
18   2014-05-01 18:00:00      92.0
19   2014-05-01 19:00:00      94.0
20   2014-05-01 20:00:00      92.0
21   2014-05-01 21:00:00      94.0
22   2014-05-01 22:00:00      91.0
23   2014-05-01 23:00:00      92.0
24   2014-05-02 00:00:00      91.0
25   2014-05-02 01:00:00      92.0
26   2014-05-02 02:00:00      92.0
27   2014-05-02 03:00:00      93.0
28   2014-05-02 04:00:00      92.0
29   2014-05-02 05:00:00      93.0
..                   ...       ...
712  2014-05-30 18:00:00      43.0
713  2014-05-30 19:00:00      46.0
714  2014-05-30 20:00:00      38.0
715  2014-05-30 21:00:00      46.0
716  2014-05-30 22:00:00      49.0
717  2014-05-30 23:00:00      49.0
718  2014-05-31 00:00:00      63.0
719  2014-05-31 01:00:00      68.0
720  2014-05-31 02:00:00      68.0
721  2014-05-31 03:00:00      67.0
722  2014-05-31 04:00:00      67.0
723  2014-05-31 05:00:00      63.0
724  2014-05-31 06:00:00      63.0
725  2014-05-31 07:00:00      67.0
726  2014-05-31 08:00:00      67.0
727  2014-05-31 09:00:00      67.0
728  2014-05-31 10:00:00      59.0
729  2014-05-31 11:00:00      59.0
730  2014-05-31 12:00:00      55.0
731  2014-05-31 13:00:00      45.0
732  2014-05-31 14:00:00      37.0
733  2014-05-31 15:00:00      30.0
734  2014-05-31 16:00:00      28.0
735  2014-05-31 17:00:00      35.0
736  2014-05-31 18:00:00      35.0
737  2014-05-31 19:00:00      63.0
738  2014-05-31 20:00:00      52.0
739  2014-05-31 21:00:00      45.0
740  2014-05-31 22:00:00      46.0
741  2014-05-31 23:00:00      43.0

[742 rows x 2 columns]

# Data Cleaning

Describe your data cleaning steps here.

In [6]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

## NY's Temperature in 2014
temperature_df = pd.read_csv('NewYork_Temperature_2014.csv')
temperature_df.describe()
pickup_df.head()

## Windspeed for 2014 May
windspd_df = pd.read_csv('Wind_speed_for_2014-2015.csv')
may_wind = windspd_df[windspd_df['datetime'].str.contains("2014-05")]

## Windspeed for 2014 September
sep_wind = windspd_df[windspd_df['datetime'].str.contains("2014-09")]

## Trips made per hour
ride_data = pd.read_csv('uber-raw-data-may14.csv')
may_DT = pd.to_datetime(ride_data['Date/Time'])

# Data Analysis & Results

In [7]:
pickup_df.head()

            Date/Time
0 2014-05-01 00:02:00
1 2014-05-01 00:06:00
2 2014-05-01 00:15:00
3 2014-05-01 00:17:00
4 2014-05-01 00:17:00

Include cells that describe the steps in your data analysis.

In [8]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

The data set we are analyzing for this project is public data obtained from an open source. The data on its own does not reveal any private information about individual users as well as Uber drivers so we are not as concerned with personal privacy. However, analyzers could still easily extract a lot of information from these data. For instance, analyzing this data set could reveal users’ commute patterns and preferences. Though this does not point to a specific person, it could be information that could be sold to other companies for profit. From this, companies can target users based on their individual preferences. For example, they could distribute advertisements based on these preferences. Or, rideshare apps, like Uber, could take advantage of all these data and deliberately raise prices when the demand is high.

# Conclusion & Discussion

*Fill in your discussion information here*