# COGS 108 - Final Project

# Overview

*Fill in your overview here*

# Names

- Zijian Liu
- Pin-Hsuan Chen
- Kyle Reed 
- Yunji Ryu
- Jing Wei

# Group Members IDs

- A15723355
- A########
- A########
- A15729483
- A########

# Research Question

How does the the weather (observed in hours) affect the overall number of rides during the day in NYC?

## Background and Prior Work

Based on our experiences with Uber, the price for riders can vary drastically with no clear indications as to why. According to the FiveThirtyEight article, “Is Uber making NYC Rush Hour Traffic Worse?”, there is an increase in Uber demand during rush hour, which could contribute to the fluctuation in price. Instead of making assumptions based on an educated guess, we decided to look into their website and look for any public information about it.
In Uber’s official website, general information about this fluctuation in price was provided only for the Uber drivers. Labeled as surge price, fare calculation and its system are shown and explained for Uber drivers.  (Here’s the link). Although the website is public and both parties, including riders and drivers, the separate section for riders did not include information about surge pricing and that might be one of the reasons why most of the riders are unaware of its existence and how it works until the Uber app alerts of the sudden price change.
As we mentioned in our question and hypothesis section, surge prices are calculated based on location and time during the day. According to the website, the surge pricing is determined by two combined factors; the rider’s location as well as the real-time demand by the riders in the same specific area. Depending on Uber’s jurisdiction on these specific areas, riders are charged with fixed rates of either 1.8x or 2.5x, which is multiplied on the already existing base ride fare. These multipliers are also bound by specific locations. Certain locations have 2.5 multiplication rate while others have a different rate or no rate at all. Although Uber has a specific map inside the app that shows the multiplier rate in the current and nearby area, they did not get into details on how the jurisdiction is made to each individual area and how the rates are justified. In order to investigate this information, we decided to use our readily available public data to analyze and infer to the possible correlations listed in our hypothesis.
 

References (include links):
- 1)
- 2)

# Hypothesis

*Fill in your hypotheses here*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [2]:
## YOUR CODE HERE
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as skl
import datetime

# revised proposal: weather of date vs. trip numbers?




pickup_df = pd.read_csv('uber-raw-data-may14.csv')

weather_description_df = pd.read_csv('weather_description.csv')
###
#data frame: pickup_df contains trip data, weather_description_df contains weather data

# cleaning data, dropping everything not related to New York City 

weather_description_df = weather_description_df[['datetime','New York']].dropna()

pickup_df = pickup_df[['Date/Time']]
pickup_df.head()

#print(weather_description_df.head())


# priting the first element in both data frame
print("WEATHER: "+ weather_description_df['datetime'].iloc[:3])
print("PICKUP:  "+ pickup_df['Date/Time'].iloc[:3])

print("--------")
''' 
How to drop data whose year and month doesn't match? i.e. dropping rows in which years aren't 2014
How to format the date so that everything is in sync with each other?
After cleaning, how to relate trip numbers at a certain time period with that time?
'''
#pickup_df['Date/Time'] = datetime.strptime(str, '%m-%d-%y')
weather_description_df['datetime'] = pd.to_datetime(weather_description_df['datetime'])

# this is how you convert timestamps object to str and use contains with it
weather_description_df = weather_description_df[weather_description_df['datetime'].astype(str).str.contains('2014-05')]
pickup_df['Date/Time'] = pd.to_datetime(pickup_df['Date/Time'])
print("AFTER CONVERSION: ")
pickup_df['Date/Time']
#weatherdesc_clean = 
weather_description_df[weather_description_df['datetime'].astype(str).str.contains('2014')]
#str.contains
#take the first 10 rows 

#weatherdesc_clean.to_csv('weather_description_clean.csv')

1    WEATHER: 2012-10-01 13:00:00
2    WEATHER: 2012-10-01 14:00:00
3    WEATHER: 2012-10-01 15:00:00
Name: datetime, dtype: object
0    PICKUP:  5/1/2014 0:02:00
1    PICKUP:  5/1/2014 0:06:00
2    PICKUP:  5/1/2014 0:15:00
Name: Date/Time, dtype: object
--------
AFTER CONVERSION:

                 datetime              New York
13836 2014-05-01 00:00:00         moderate rain
13837 2014-05-01 01:00:00         moderate rain
13838 2014-05-01 02:00:00         moderate rain
13839 2014-05-01 03:00:00  heavy intensity rain
13840 2014-05-01 04:00:00  heavy intensity rain
13841 2014-05-01 05:00:00  heavy intensity rain
13842 2014-05-01 06:00:00  heavy intensity rain
13843 2014-05-01 07:00:00  heavy intensity rain
13844 2014-05-01 08:00:00  heavy intensity rain
13845 2014-05-01 09:00:00  heavy intensity rain
13846 2014-05-01 10:00:00  heavy intensity rain
13847 2014-05-01 11:00:00  heavy intensity rain
13848 2014-05-01 12:00:00  heavy intensity rain
13849 2014-05-01 13:00:00  heavy intensity rain
13850 2014-05-01 14:00:00  heavy intensity rain
13851 2014-05-01 15:00:00  heavy intensity rain
13852 2014-05-01 16:00:00  heavy intensity rain
13853 2014-05-01 17:00:00  heavy intensity rain
13854 2014-05-01 18:00:00  heavy intensity rain
13855 2014-05-01 19:00:00  heavy intensity rain
13856 2014-05-01 20:00:00  heavy intensity rain
13857 2014-05-01 21:00:00  heavy intensity rain
13858 2014-05-01 22:00:00  heavy intensity rain
13859 2014-05-01 23:00:00  heavy intensity rain
13860 2014-05-02 00:00:00  heavy intensity rain
13861 2014-05-02 01:00:00  heavy intensity rain
13862 2014-05-02 02:00:00  heavy intensity rain
13863 2014-05-02 03:00:00            light rain
13864 2014-05-02 04:00:00            light rain
13865 2014-05-02 05:00:00            light rain
...                   ...                   ...
14550 2014-05-30 18:00:00         broken clouds
14551 2014-05-30 19:00:00         broken clouds
14552 2014-05-30 20:00:00         broken clouds
14553 2014-05-30 21:00:00         broken clouds
14554 2014-05-30 22:00:00      scattered clouds
14555 2014-05-30 23:00:00            light rain
14556 2014-05-31 00:00:00         moderate rain
14557 2014-05-31 01:00:00            light rain
14558 2014-05-31 02:00:00      scattered clouds
14559 2014-05-31 03:00:00            few clouds
14560 2014-05-31 04:00:00          sky is clear
14561 2014-05-31 05:00:00          sky is clear
14562 2014-05-31 06:00:00          sky is clear
14563 2014-05-31 07:00:00            light rain
14564 2014-05-31 08:00:00          sky is clear
14565 2014-05-31 09:00:00            light rain
14566 2014-05-31 10:00:00            light rain
14567 2014-05-31 11:00:00            few clouds
14568 2014-05-31 12:00:00            few clouds
14569 2014-05-31 13:00:00            few clouds
14570 2014-05-31 14:00:00            few clouds
14571 2014-05-31 15:00:00            few clouds
14572 2014-05-31 16:00:00            few clouds
14573 2014-05-31 17:00:00      scattered clouds
14574 2014-05-31 18:00:00      scattered clouds
14575 2014-05-31 19:00:00            light rain
14576 2014-05-31 20:00:00            light rain
14577 2014-05-31 21:00:00         broken clouds
14578 2014-05-31 22:00:00      scattered clouds
14579 2014-05-31 23:00:00      scattered clouds

[744 rows x 2 columns]

In [3]:
print(type(pickup_df['Date/Time'].iloc[0]))
print(pd.to_datetime(pickup_df['Date/Time'].iloc[0]))
#type(weather_description_df['datetime'].astype(str).iloc[0])

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2014-05-01 00:02:00

# Data Cleaning

Describe your data cleaning steps here.

In [18]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

## NY's Temperature in 2014
# temperature_df = pd.read_csv('NewYork_Temperature_2014.csv')
# temperature_df.describe()
# pickup_df.head()

## Windspeed for 2014
windspd_df = pd.read_csv('Wind_speed_for_2014-2015.csv')
windspd_df[windspd_df['datetime'].str.contains("2014")]

                 datetime  New York
0     2014-01-01 00:00:00         8
1     2014-01-01 01:00:00         3
2     2014-01-01 02:00:00         1
3     2014-01-01 03:00:00         4
4     2014-01-01 04:00:00         3
5     2014-01-01 05:00:00         3
6     2014-01-01 06:00:00         2
7     2014-01-01 07:00:00         3
8     2014-01-01 08:00:00         3
9     2014-01-01 09:00:00         3
10    2014-01-01 10:00:00         1
11    2014-01-01 11:00:00         1
12    2014-01-01 12:00:00         1
13    2014-01-01 13:00:00         0
14    2014-01-01 14:00:00         1
15    2014-01-01 15:00:00         3
16    2014-01-01 16:00:00         1
17    2014-01-01 17:00:00         3
18    2014-01-01 18:00:00         3
19    2014-01-01 19:00:00         1
20    2014-01-01 20:00:00         1
21    2014-01-01 21:00:00         0
22    2014-01-01 22:00:00         3
23    2014-01-01 23:00:00         0
24    2014-01-02 00:00:00         0
25    2014-01-02 01:00:00         1
26    2014-01-02 02:00:00         1
27    2014-01-02 03:00:00         2
28    2014-01-02 04:00:00         3
29    2014-01-02 05:00:00         2
...                   ...       ...
8730  2014-12-30 18:00:00         1
8731  2014-12-30 19:00:00         1
8732  2014-12-30 20:00:00         1
8733  2014-12-30 21:00:00         2
8734  2014-12-30 22:00:00         2
8735  2014-12-30 23:00:00         1
8736  2014-12-31 00:00:00         1
8737  2014-12-31 01:00:00         1
8738  2014-12-31 02:00:00         1
8739  2014-12-31 03:00:00         1
8740  2014-12-31 04:00:00         1
8741  2014-12-31 05:00:00         1
8742  2014-12-31 06:00:00         1
8743  2014-12-31 07:00:00         1
8744  2014-12-31 08:00:00         2
8745  2014-12-31 09:00:00         2
8746  2014-12-31 10:00:00         2
8747  2014-12-31 11:00:00         3
8748  2014-12-31 12:00:00         3
8749  2014-12-31 13:00:00         3
8750  2014-12-31 14:00:00         3
8751  2014-12-31 15:00:00         3
8752  2014-12-31 16:00:00         3
8753  2014-12-31 17:00:00         3
8754  2014-12-31 18:00:00         3
8755  2014-12-31 19:00:00         3
8756  2014-12-31 20:00:00         2
8757  2014-12-31 21:00:00         2
8758  2014-12-31 22:00:00         2
8759  2014-12-31 23:00:00         3

[8760 rows x 2 columns]

# Data Analysis & Results

In [ ]:
pickup_df.head()

Include cells that describe the steps in your data analysis.

In [ ]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

The data set we are analyzing for this project is public data obtained from an open source. The data on its own does not reveal any private information about individual users as well as Uber drivers so we are not as concerned with personal privacy. However, analyzers could still easily extract a lot of information from these data. For instance, analyzing this data set could reveal users’ commute patterns and preferences. Though this does not point to a specific person, it could be information that could be sold to other companies for profit. From this, companies can target users based on their individual preferences. For example, they could distribute advertisements based on these preferences. Or, rideshare apps, like Uber, could take advantage of all these data and deliberately raise prices when the demand is high.

# Conclusion & Discussion

*Fill in your discussion information here*